<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppDeploymentProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D585DFF1D593B2400AA9EE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D585E161D593B2400AA9EE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D585E211D593B2400AA9EE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
